*,	*:before, *after	{
	box-sizing: border-box;
	position: relative;
}

html, body {
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0; 
}
body {
	height: 100vh;
	background: #00f;
}

section{
	color: #000;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}
@keyframes move{
	from {left:-200px;}
	to{left: 200px;}
}


.ft-perfil {
	width: 50%;
	border-radius: 50%;
	animation: move 5s linear 2s infinite alternate;
}
div img{
	width: 100px;
}